.fish-wrapper(style="animation-play-state: running !important;")
  .fish-container
    .fish-parts
      .fish-body.front(style="animation-play-state: running !important;")
      .fish-body.back(style="animation-play-state: running !important;")
      .fish-back-bottom-fin.front(style="animation-play-state: running !important;")
      .fish-back-bottom-fin.back(style="animation-play-state: running !important;")
      .fish-back-fin(style="animation-play-state: running !important;")
      .fish-front-bottom-fin.front(style="animation-play-state: running !important;")
      .fish-front-bottom-fin.back(style="animation-play-state: running !important;")
      .fish-top-fin(style="animation-play-state: running !important;")